<ion-view view-title="Button">
  <ion-content>
    <form ng-submit="saveButton">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="button.name" required />
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Ports to Enable</span>
          <select multiple ng-model="button.trigger.activateOutports">
            <option ng-repeat="port in deviceState.ports" value="{{ $index }}">{{ $index }}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Buttons to Enable</span>{{button.trigger.activateButtons}} {{_.indexOf(button.trigger.activateButtons, 5)}}
          <select multiple ng-multiple="true">
            <option ng-repeat="selectButton in deviceState.buttons track by $index" value="{{ $index }}" ng-selected="button.trigger.activateButtons.indexOf($index) > -1">{{ selectButton.name }}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Buttons to Disable</span>
          <select multiple ng-model="button.trigger.deactivateButtons" ng-multiple="true">
            <option ng-repeat="selectButton in deviceState.buttons" value="{{ $index }}" ng-selected="_.indexOf(button.trigger.deactivateButtons, $index) > -1">{{ selectButton.name }}</option>
          </select>
        </label>
        <div class="item item-button">
          <button class="button button-assertive button-block" ng-click="deleteButton();">Delete</button>
        </div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
