<ion-view view-title="Button">
  <ion-content>
    <form ng-submit="saveButton">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="button.name" required />
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Ports to Enable</span>
          <select multiple ng-model="button.trigger.activateOutports">
            <option ng-repeat="port in deviceState.ports" value="{{ $index }}">{{ $index }}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Buttons to Enable</span>
          <select multiple ng-model="button.trigger.activateButtons">
            <option ng-repeat="button in deviceState.buttons" value="{{ $index }}">{{ button.name }}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Buttons to Disable</span>
          <select multiple ng-model="button.trigger.deactivateButtons">
            <option ng-repeat="button in deviceState.buttons" value="{{ $index }}">{{ button.name }}</option>
          </select>
        </label>
        <div class="item item-button">
          <button class="button button-assertive button-block" ng-click="deleteButton();">Delete</button>
        </div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
