<ion-view view-title="Dashboard">
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="connectButton.click()" ng-model="connectButton" ng-disabled="connectButton.isDisabled">
      {{ connectButton.text }}
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="listSettings.canSwipe = !listSettings.canSwipe; listSettings.showReorder = !listSettings.showReorder; listSettings.canSwipe = !listSettings.canSwipe;">
      Rearrange
    </button>
    <button class="button button-clear" ng-click="listSettings.canSwipe = !listSettings.canSwipe;">
      Edit
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list show-delete="listSettings.showDelete"
          show-reorder="listSettings.showReorder"
          can-swipe="listSettings.canSwipe">
      <ion-item ng-repeat="button in buttons" ng-class="{'commander-button-active': button.trigger.isActive}" ng-click="button.pressed()">
          {{button.name}}
    <ion-option-button class="button-info"
                       ng-click="go('tab.dash({id:{{item.id}}})')">
      Edit
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    </ion-delete-button>
    <ion-reorder-button class="ion-navicon"
                        on-reorder="reorderItem(item, $fromIndex, $toIndex)">
    </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
