<ion-view view-title="Dashboard">
  <ion-nav-buttons side="primary">
    <button class="button button-positive" ng-click="connectButton.click()" ng-model="connectButton" ng-disabled="connectButton.isDisabled">
      {{ connectButton.text }}
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="listSettings.showReorder = !listSettings.showReorder; listSettings.showDelete = !listSettings.showDelete;">
      Rearrange
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list show-delete="listSettings.showDelete"
          show-reorder="listSettings.showReorder"
          can-swipe="listSettings.canSwipe">
      <ion-item ng-repeat="button in deviceState.buttons" class="item" style="padding-right: 0 !important; margin-right: 0 !important;">
          <a class="button button-clear button-positive" href="#/tab/dash/{{ $index }}">{{button.name}}</a>
          <a class="button float-right" ng-class="{'button-assertive': button.trigger.isActive}" ng-click="buttonClicked(button)">
            <i class="icon ion-android-bulb"></i>
          </a>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    </ion-delete-button>
    <ion-reorder-button class="ion-navicon"
                        on-reorder="reorderItem(item, $fromIndex, $toIndex)">
    </ion-reorder-button>
      </ion-item>
    </ion-list>
    <a class="button button-full button-light" href="#/tab/dash/{{ deviceState.buttons.length }}">
      Add
    </a>
  </ion-content>
</ion-view>
